<div id="footer">
  <div class="container">
    <div class="footer_info">
      <div class="footer_logo">
        <a href="http://www.unl.edu" rel="external"><%= image_tag 'footer_logo_unl.png' %></a>
      </div>
      <div class="footer_logo">
        <p><%= t "general.cdrh_link_html" %></p>
      </div>
      <div class="footer_logo">
        <a href="https://www.newschool.edu/" rel="external"><%= image_tag 'footer_logo_tns.png' %></a>
      </div>
      <div class="footer_logo">
        <a href="https://www.neh.gov/" rel="external"><%= image_tag 'footer_logo_neh.jpg' %></a>
      </div>
      <div class="footer_logo">
        <a href="https://www.archives.gov/nhprc" rel="external"><%= image_tag 'footer_logo_nhprc.jpg' %></a>
      </div>
      <div class="footer_logo">
        <a href="https://www.wrhs.org/" rel="external"><%= image_tag 'footer_logo_wwrhs.jpg' %></a>
      </div>
    </div><!-- /footer_info -->

    <div class="footer_additional_info">
      <p>Artwork by <a href="https://www.katwiese.com/">Kat Wiese</a>.</p>
      
      <div class="footer_logo footer_twitter">
        <p><a href="https://twitter.com/chesnuttarchive" rel="external">Follow us on Twitter: @chesnuttarchive</a></p>
        <a href="https://twitter.com/chesnuttarchive" rel="external"><%= image_tag 'footer_logo_twitter.png' %></a>
      </div>

      <br/><br/>
      <p class="footer_content_warning">Please note: some of the materials on this site contain sensitive and potentially disturbing content.</p>

    </div>
  </div> <!-- /container -->
</div><!-- /footer -->
