<%# template is to remove collapsing menu %>

<div class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active?(home_path) %>">
        <%= link_to t("home.title", default: "Home"), home_path %>
      </li>
      <li class="<%= active?(works_path) %>">
        <%= link_to "Works", works_path %>
      </li>
      <li class="<%= active?(manuscripts_path) %>">
        <%= link_to "Manuscripts", manuscripts_path %>
      </li>
      <li class="<%= active?(correspondence_path) %>">
        <%= link_to "Correspondence", correspondence_path %>
      </li>
      <li class="<%= active?(reception_path) %>">
        <%= link_to "Reception", reception_path %>
      </li>
      <li class="<%= active?(scholarship_path) %>">
        <%= link_to "Scholarship", scholarship_path %>
      </li>
      <li class="<%= active?(about_path) %>">
        <%= link_to "About", about_path %>
      </li>
    </ul>
  </div>
</div><!-- /navbar -->
