<%# template is to remove collapsing menu %>

<div class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active?(home_path) %>">
        <%= link_to t("home.title", default: "Home"), home_path %>
      </li>
      <li class="<%= active?(works_path) %>">
        <%= link_to "Works", works_path %>
      </li>
      <li class="<%= active?(manuscripts_path) %>">
        <%= link_to "Manuscripts", manuscripts_path %>
      </li>
      <li class="<%= active?(correspondence_path) %>">
        <%= link_to "Correspondence", correspondence_path %>
      </li>
      <li class="<%= active?(reception_path) %>">
        <%= link_to "Reception", reception_path %>
      </li>
      <li class="<%= active?(scholarship_path) %>">
        <%= link_to "Scholarship", scholarship_path %>
      </li>
      <li class="<%= active?(about_path) %>">
        <%= link_to "About", about_path %>
      </li>
    </ul>
  </div>
</div><!-- /navbar -->
<div class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active?(about_history_path) %>">
    <%= link_to "History", about_history_path %>
  </li>
  <li class="<%= active?(about_editorial_policy_path) %>">
    <%= link_to "Editorial Policy", about_editorial_policy_path %>
  </li>
  <li class="<%= active?(about_encoding_guidelines_path) %>">
    <%= link_to "Encoding Guidelines", about_encoding_guidelines_path %>
  </li>
  <li class="<%= active?(about_use_statement_path) %>">
    <%= link_to "Use Statement", about_use_statement_path %>
  </li>
  <li class="<%= active?(about_people_path) %>">
    <%= link_to "People", about_people_path %>
  </li>
  <li class="<%= active?(about_biographical_sketch_path) %>">
    <%= link_to "About Chesnutt", about_biographical_sketch_path %>
  </li>
   <li class="<%= active?(about_white_paper_path) %>">
    <%= link_to "White Paper", about_white_paper_path %>
  </li>
    </ul>
  </div>
</div><!-- /navbar -->
