<%# template is to remove collapsing menu %>

<div class="navbar navbar-default navbar_mainnav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active?(home_path) %>">
        <%= link_to t("home.title", default: "Home"), home_path %>
      </li>
      <li class="<%= 'active' if params[:action].include?("works") == true %>">
        <%= link_to "Works", works_path %>
      </li>
      <li class="<%= active?(manuscripts_path) %>">
        <%= link_to "Manuscripts", manuscripts_path %>
      </li>
      <li class="<%= active?(correspondence_path) %>">
        <%= link_to "Correspondence", correspondence_path %>
      </li>
      <li class="<%= 'active' if params[:action].include?("reception_reviews") == true %>">
        <%= link_to "Reviews", reception_reviews_path %>
      </li>
      <li class="<%= 'active' if params[:action].include?("resources") == true%>">
        <%= link_to "Resources", resources_path %>
      </li>
      <li class="<%= 'active' if params[:action].include?("biographical_sketch") == true %>">
        <%= link_to "About Chesnutt", biographical_sketch_path %>
      </li>
    </ul>
  </div>
</div><!-- /navbar -->

<% if params[:action].include?("works") %>
  <%= render_overridable("layouts/body", "navbar_works") %>
<% end %>

<%# add back once we have more in Reception %>
<%# if params[:action].include?("reception") %>
  <%# render_overridable("layouts/body", "navbar_reception") %>
<%# end %>

<%# if params[:action].include?("resources") %>
  <%# render_overridable("layouts/body", "navbar_resources") %>
<%# end %>

<% if params[:action].include?("about") %>
  <%= render_overridable("layouts/body", "navbar_about") %>
<% end %>






