<nav class="navbar navbar-default navbar_subnav" aria-label="Secondary Menu">
  <div class="row">
    <ul class="nav navbar-nav">
      <li class="<%= active?(works_path) %>">
        <%= link_to "All Works", works_path, 'aria-current': (current_page?(works_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_stories_path) %>">
        <%= link_to "Stories", works_stories_path, 'aria-current': (current_page?(works_stories_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_collection_path) %>">
        <%= link_to "Story Collections", works_collection_path, 'aria-current': (current_page?(works_collection_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_novels_path) %>">
        <%= link_to "Novels", works_novels_path, 'aria-current': (current_page?(works_novels_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_essays_path) %>">
        <%= link_to "Essays", works_essays_path, 'aria-current': (current_page?(works_essays_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_reviews_path) %>">
        <%= link_to "Reviews", works_reviews_path, 'aria-current': (current_page?(works_reviews_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_poems_path) %>">
        <%= link_to "Poems", works_poems_path, 'aria-current': (current_page?(works_poems_path) ? 'page' : nil) %>
      </li>
      <li class="<%= active?(works_other_path) %>">
        <%= link_to "Other Works", works_other_path, 'aria-current': (current_page?(works_other_path) ? 'page' : nil) %>
      </li>
    </ul>
  </div>
</nav><!-- /navbar -->
