<%# template is to remove collapsing menu %>

<div class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active?(home_path) %>">
        <%= link_to t("home.title", default: "Home"), home_path %>
      </li>
      <li class="<%= active?(/^#{config.relative_url_root}\/browse/,
        request.path) %>">
        <%= link_to t("browse.title", default: "Browse"), browse_path %>
      </li>
      <li class="<%= active?(search_path) %>">
        <%= link_to t("search.title", default: "Search"), search_path, rel: "search" %>
      </li>
      <li class="<%= active?(about_path) %>">
        <%= link_to t("about.title", default: "About"), about_path %>
      </li>
    </ul>
  </div>
</div><!-- /navbar -->
