
  </div><%# close container div for full width  %>

  <div class="page_banner_outer">
    <div class="container">
      <div class="page_banner_text"><h1 style="">About</h1>
        <p>Lorum Ipsum </p>
      </div>
      <div class="page_banner_illustration">
        <div class="page_banner_illustration_inner">
          
        </div>
      </div>
    </div>
  </div>

  <div class="container"><%# reopen container div %>


<ul class="page_subnav">
  <li class="<%= active?(about_history_path) %>">
    <%= link_to "Project History", about_history_path %>
  </li>
    <li class="<%= active?(about_people_path) %>">
    <%= link_to "People", about_people_path %>
  </li>
  <li class="<%= active?(about_editorial_policy_path) %>">
    <%= link_to "Editorial Policy", about_editorial_policy_path %>
  </li>
  <li class="<%= active?(about_encoding_guidelines_path) %>">
    <%= link_to "Encoding Guidelines", about_encoding_guidelines_path %>
  </li>
  <li class="<%= active?(about_use_statement_path) %>">
    <%= link_to "Use Statement", about_use_statement_path %>
  </li>
   <li class="<%= active?(about_white_paper_path) %>">
    <%= link_to "Statement of Purpose and Principles", about_white_paper_path %>
  </li>
</ul>
