
<h1>About the Site</h1>

<ul class="page_subnav">
  <li>
    <%= link_to about_history_path  do %>
      <span>Project History</span>
    <% end %>
  </li>
    <li>
    <%= link_to about_people_path do %>
      <span>People</span>
    <% end %>
  </li>
  <li>
    <%= link_to about_editorial_policy_path do %>
    <span>Editorial Policy</span>
    <% end %>
  </li>
  <li>
    <%= link_to about_encoding_guidelines_path do %>
    <span>Encoding Guidelines</span>
    <% end %>
  </li>
  <li>
    <%= link_to about_use_statement_path do %>
    <span>Use Statement</span>
    <% end %>
  </li>
   <li>
    <%= link_to about_statement_of_purpose_path do %>
    <span>Statement of Purpose and Principles</span>
    <% end %>
  </li>
</ul>
