<h1>The <em>Charles W. Chesnutt Archive</em> team</h1>

<h5>Directed by Stephanie P. Browner, Matt Cohen, and Kenneth M. Price</h5>
<br/>
<h5>We invite you to <a href="mailto: kprice2@unl.edu;browners@newschool.edu;matt.cohen@unl.edu">send your comments</a> to the <em>Chesnutt Archive</em> team.</h5>
<br/>

<p><%= image_tag 'about/antje.jpg' %> Antje Anderson, Ph.D., research assistant,  is an English professor emerita who taught for many years at Hastings College, a small liberal-arts school in rural Nebraska. She has recently completed an M.A. in Art History at the University of Nebraska-Lincoln with a certificate in the Digital Humanities. Her interdisciplinary background in (British) Victorian Studies has broadened to an interest cross-cultural and transatlantic relationships between European and American novelists and visual artists, especially with respect to Black writers and artists and their reception. She serves as an editorial assistant to the <em>Charles W. Chesnutt Archive</em>.</p> 

<p><%= image_tag 'about/tara.jpg' %> Tara Ballard, research assistant, is a doctoral student in the University of Nebraska-Lincoln's Department of English, with a concentration in creative writing. Her research interests revolve around contemporary American women poets, contemporary Middle Eastern poetry, and social poetics. She holds an MFA in Creative Writing and the Literary Arts from the University of Alaska Anchorage and a BA in English from the University of Hawai‘i at Hilo. Author of <em>House of the Night Watch</em> (New Rivers Press), Tara was the recipient of a Nazim Hikmet Poetry Prize in 2019. Currently, she is a graduate research assistant for both the <em>Charles W. Chesnutt</em> and the <em>Walt Whitman Archive</em>s.</p> 

<p><%= image_tag 'about/brett.jpg' %> Brett Barney, senior associate editor, is Research Associate Professor in the Center for Digital Research in the Humanities at the University of Nebraska-Lincoln. A senior associate editor of the <em>Walt Whitman Archive</em>, he edited a comprehensive collection of Whitman interviews and recollections for the <em>Archive</em> and co-edited <em>Encyclopedia of American Literature, Volume II: The Age of Romanticism and Realism, 1816-1895</em> (Facts on File, 2008). He also serves as a senior associate editor of the <em>Chesnutt Archive</em> and assisted in the development of the encoding schema for Chesnutt's galley proofs.
</p>

<p><%= image_tag 'about/stephanie.jpg' %> Stephanie P. Browner, co-editor, is a University Professor at The New School in New York City. She teaches courses on Chesnutt, African American Literature, textual editing, and archives. She is the founder and editor of <em>The Charles W. Chesnutt Archive</em> and the General Editor of a multi-volume print edition of Chesnutt's complete writings with Oxford University Press. 
</p>

<p><%= image_tag 'about/matt.jpg' %> Matt Cohen, co-editor, teaches English at the University of Nebraska-Lincoln, and is affiliate faculty in Native American Studies and a fellow in the Center for Digital Research in the Humanities there. He co-directs <em>The Walt Whitman Archive</em>, and is the author of <em>Whitman's Drift: Imagining Literary Distribution</em>. Cohen joined the <em>Chesnutt Archive</em> as an editor in 2019, and served as the PI for its initial NEH grant.</p>

<p><%= image_tag 'about/karin.jpg' %> Karin Dalziel, digital development manager and designer in the Center for Digital Research in the Humanities at UNL, received a B.F.A. in Art from the University of Nebraska-Lincoln in 2006 and an M.A. in Library Science from the University of Missouri at Columbia in 2010. Dalziel has created interface designs and search features for many digital humanities research sites, including sites such as NEH-funded projects <em>Civil War Washington</em> (http://www.civilwardc.org) and the <em>William F. Cody Archive</em> (http://www.codyarchive.org). She served as the lead designer for the new <em>Chesnutt Archive</em> site and will assist with developing the user experience for the project as new materials are added.</p>

<p><%= image_tag 'about/sam.jpg' %> Samantha Gilmore, research assistant, is a doctoral student, concentrating on Nineteenth Century Studies, and an Othmer Fellow at the University of Nebraska-Lincoln. Her scholarship focuses on early-to-mid nineteenth-century American literary and historical studies, digital humanities, archival research, and manuscript culture, specifically surrounding journals/diaries and commonplace books. Samantha holds a B.A. in English from Penn State University and a M.A. in English from West Virginia University, where she taught first-year composition and research writing. Currently, she works as a research assistant for <em>The Walt Whitman Archive</em> and <em>The Charles W. Chesnutt Archive</em> at UNL, as well as for <em>The Almanacks of Mary Moody Emerson: A Scholarly Digital Edition</em> with Northeastern University's Women Writers Project.
</p>

<p><%= image_tag 'about/christy.jpg' %> Christy Hyman, research assistant, Ph.D. student in Geography and Digital Humanities at the University of Nebraska, Lincoln; M.A. History, Virginia State University; B.A. Women's and Gender Studies, University of North Carolina, Greensboro. Christy's work focuses on definitions of freedom in the United States south, with particular attention to the Great Dismal Swamp region and adjacent communities in North Carolina. Building on the work of archaeologists, historians, and novelists, her work maps the experiences of enslaved runaways and laborers, and sheds light on values, aspirations, culture and economic systems of a people relegated to the margins of society.
</p>

<p><%= image_tag 'about/caitlin.jpg' %> Caitlin Matheis, research assistant, is a graduate student in English at the University of Nebraska-Lincoln. Her research focuses on American literature, digital humanities, archives, and libraries. She also currently serves as a research assistant at the Center for Research in Digital Humanities. Previously, she has served as a research assistant at the <em>Walt Whitman Archive</em>, the <em>Central Online Victorian Educator</em>, and the <em>One More Voice Archive</em>.
</p>

<p><%= image_tag 'about/kevin.jpg' %> Kevin McMullen, project manager, is a Research Assistant Professor in the Department of English at UNL. He is a long-time staff member of the <em>Walt Whitman Archive</em> and also currently serves as its project manager. Kevin is also the editor and co-creator of <em>Fanny Fern in The New York Ledger</em>, a digital edition of the newspaper columns of the 19th century writer Fanny Fern. He serves as the current President of the Digital Americanists society, and occasionally teaches courses in American literature.
</p>

<p><%= image_tag 'about/ken.jpg' %> Kenneth M. Price, co-editor, first began publishing on Chesnutt in 1995 with "Charles Chesnutt, the Atlantic Monthly, and the Intersection of African-American Fiction and Elite Culture." Since then his scholarly efforts have mainly focused on Whitman studies and on issues in digital humanities&#8212;he is a founding co-director of the Center for Digital Research in the Humanities at University of Nebraska-Lincoln. He is also a past president of both the Association for Documentary Editing and the Society for Textual Scholarship. Price became a co-editor of the <em>Chesnutt Archive</em> in 2017.
</p>

<p><%= image_tag 'about/ashlyn.jpg' %> Ashlyn Stewart, research assistant, is a graduate student in English at the University of Nebraska, Lincoln, where she focuses on nineteenth-century American literature and digital humanities.  She has a dedicated research interest in periodicals from nineteenth-century America, particularly national publications like Harper's Weekly.  At the <em>Charles W. Chesnutt Archive</em>, she is currently responsible for transcribing and encoding galley proofs, managing images, developing encoding guidelines, and training new staff members.  
</p>

<p><%= image_tag 'about/bianca.jpg' %> Bianca Swift, research assistant, is a 22-year-old African American Omaha Native, and recently graduated from UNL with an English degree. She is an editorial assistant at the <em>Charles W. Chesnutt Archive</em>, working on transcription and encoding of Chesnutt's correspondence. 
</p>

<p><%= image_tag 'about/greg.jpg' %> Greg Tunink is a developer in the Center for Digital Research in the Humanities (CDRH) and community manager for the Open Online Newspaper Initiative (Open ONI). He has helped create and support open source research tools such as Annotonia and sites including The Willa Cather Archive, Nebraska Newspapers, The Journals of the Lewis and Clark Expedition, Nebraska Authors, and the Salmon Pueblo Archeological Research Collection. He has overseen numerous server migrations and streamlined server software deployment, configuration, and administration. Greg received his Bachelor's in Computer Science with minors in Mathematics and Business from the University of Nebraska-Lincoln (UNL) in 2009. Before joining CDRH staff in 2015 he worked six years in Linux full stack web development and server administration. He is a free/libre open source software and cybersecurity enthusiast. Greg has been practicing Shotokan Ohshima Karate-do at UNL since 2007, has helped teach since receiving his black belt in 2012, serves as the student club advisor, and is a technical lead for the national Shotokan Karate of America web team. He has studied both Spanish and Japanese at UNL. 
</p>

<p><%= image_tag 'about/laura.jpg' %> Laura Weakly, metadata encoding specialist, offers expert insights on the TEI P5 encoding for the <em>Chesnutt Archive</em>, and is responsible for the project's metadata schemas. She also supervises student employees and interns in the CDRH working on the <em>Chesnutt Archive</em>. She has a B. A. in Journalism and History, and an M.A in Journalism &amp; Mass Communication. At the CDRH she is responsible for development of metadata schema and training of faculty and graduate students in text encoding. She has worked NEH-funded projects such as the <em>Journals of the Lewis and Clark Expedition Online</em> (http://lewisandclarkjournals.unl.edu), the <em>Omaha Ponca Digital Dictionary</em> (http://omahaponca.unl.edu), and <em>O Say Can You See: Early Washington D.C. Family and Law</em> (http://earlywashingtondc.org). 
</p>

<h4>Artwork</h4>

<p><%= image_tag 'about/kat.jpg' %> Kat Wiese
<br/><br/>
Kat Wiese is a multimedia artist exploring the intersections of race and identity. You can find more of her work at her website, <a href="https://www.katwiese.com/" rel="external">katwiese.com</a>.
</p>

<br/>
<h4>Past Project Participants</h4>
<ul>
    <li>John M. Friermuth</li>
    <li>Alyah Janes</li>
    <li>Ashley Morrison </li>
    <li>Aiyana Moss</li>
    <li>Katherine Walter</li>
</ul>
<br/>
<h4>Editorial Board</h4>
<ul>
    <li>Stacie Brisker </li>
    <li>Brandon R. Byrd</li>
    <li>Lauren Coats</li> 
    <li>Ernestine Pickens Glass</li> 
    <li>Bryan Greene</li>
    <li>Zebulon Miletsky</li>
</ul>