<h1>The <em>Charles W. Chesnutt Archive</em> team</h1>

<h5>Directed by Stephanie P. Browner and Kenneth M. Price</h5>
<br/>
<h5>We invite you to <a href="mailto: kprice2@unl.edu;browners@newschool.edu;matt.cohen@unl.edu">send your comments</a> to the <em>Chesnutt Archive</em> team.</h5>
<br/>

<p><%= image_tag 'about/antje.jpg' %> Antje Anderson, Ph.D., assistant editor,  is an English professor emerita who taught for many years at Hastings College, a small liberal-arts school in rural Nebraska. In 2020, she completed an M.A. in Art History at the University of Nebraska-Lincoln with a certificate in the Digital Humanities. Her interdisciplinary background in (British) Victorian Studies has broadened to an interest cross-cultural and transatlantic relationships between European and American novelists and visual artists, especially with respect to Black writers and artists and their reception. In addition to her work for the <em>Charles W. Chesnutt Archive</em>, she also serves as editorial assistant for the print volume of the forthcoming scholarly edition of Chesnutt's collected short stories.</p>

<p><%= image_tag 'about/sarah.jpg' %> Sarah Baldwin is an intern for the <em>Charles W. Chesnutt Archive</em>, in partnership with the Arts and Humanities Mandell Cohort at Lorian County Community College in Ohio, where she is a BA student focusing on English Studies and Fine Arts. She has an interest in creative writing, art, library and information science, and digital archiving. Sarah also has a special interest in social equality and was awarded for “Excellence in Writing for Social Justice Issues.” Her work includes authoring a paper on “The 1967 Lorain Riot” for the Lorain Civil Rights Fighters and drafting the narrative for a virtual reality project designed to inform students and adults alike about On-Erie Beach, an exclusively African American beach resort founded on the shores of Lake Erie in 1921, with the Lorain Historical Society and Dr. Jewon Woo.</p> 

<p><%= image_tag 'about/chaun.jpg' %> Chaun Ballard is a doctoral student of poetry, an affiliate editor for <a href="https://www.aqreview.org/" target="_blank"><em>Alaska Quarterly Review</em></a>, an assistant poetry editor for <a href="https://prairieschooner.unl.edu/" target="_blank"><em>Prairie Schooner</em></a>, an assistant poetry editor for <a href="https://www.terrain.org/category/currents/" target="_blank"><em>Terrain.org</em></a>, a graduate of the MFA Program at the University of Alaska Anchorage, and a poetry faculty member for the Low-Residency MFA Program at Alaska Pacific University. He is the recipient of a National Endowment for the Humanities fellowship and an Alaska Literary Award. His chapbook, <em>Flight</em>, was awarded the 2018 Sunken Garden Poetry Prize and is published by <a href="https://www.tupelopress.org/product/flight/" target="_blank">Tupelo Press</a>. His full-length collection, <em>Second Nature</em>, received the 2023 A. Poulin, Jr. Prize and will be published by BOA Editions in 2025. Chaun's poems have appeared in <em>Narrative Magazine</em>, <em>Oxford Poetry</em>, <em>Poetry Northwest</em>, <em>Obsidian</em>, <em>The Atlantic</em>, <em>The Missouri Review</em>, <em>The New York Times</em>, and other literary magazines.</p> 

<p><%= image_tag 'about/brett.jpg' %> Brett Barney, senior associate editor, is Research Associate Professor in the Center for Digital Research in the Humanities at the University of Nebraska-Lincoln. A senior associate editor of the <a href="http://whitmanarchive.org" target="_blank"><em>Walt Whitman Archive</em></a>, he edited a comprehensive collection of Whitman interviews and recollections for the <em>Archive</em> and co-edited <em>Encyclopedia of American Literature, Volume II: The Age of Romanticism and Realism, 1816-1895</em> (Facts on File, 2008). He also serves as a senior associate editor of the <em>Chesnutt Archive</em> and assisted in the development of the encoding schema for Chesnutt's galley proofs.
</p>

<p><%= image_tag 'about/stephanie.jpg' %> Stephanie P. Browner, co-editor, is a University Professor at The New School in New York City. She teaches courses on Chesnutt, African American Literature, textual editing, and archives. She is the founder and editor of <em>The Charles W. Chesnutt Archive</em> and the General Editor of a multi-volume print edition of Chesnutt's complete writings with Oxford University Press. 
</p>

<p><%= image_tag 'about/karin.jpg' %> Karin Dalziel, digital development manager and designer in the Center for Digital Research in the Humanities at UNL, received a B.F.A. in Art from the University of Nebraska-Lincoln in 2006 and an M.A. in Library Science from the University of Missouri at Columbia in 2010. Dalziel has created interface designs and search features for many digital humanities research sites, including sites such as NEH-funded projects <a href="http://www.civilwardc.org" target="_blank"><em>Civil War Washington</em></a> and the <a href="http://www.codyarchive.org" target="_blank"><em>William F. Cody Archive</em></a>. She served as the lead designer for the new <em>Chesnutt Archive</em> site and will assist with developing the user experience for the project as new materials are added.</p>

<p><%= image_tag 'about/will.jpg' %> Will Dewey is a web developer for CDRH, helping CDRH collaborators share their fascinating research in engaging digital formats. Hobbies and interests: Will is interested in history, genealogy, reading, traveling/local exploration, tabletop board games, and listening to music or seeing it live (rock, jazz, classical, soul, indie, folk, etc.)</p>

<p>Laura Evans, project intern, completed her Associates degree at Lorain County Community College in Ohio in 2008 as part of the innaugaral class of the Early College Program. She is currently a Mandel Humanities to Careers cohort, completing the final year of her undergraduate studies, majoring in Psychology, with a minor in neuroscience. Laura is set to graduate from Cleveland State University in May of 2025 and hopes to enter a research track Master's program in the Fall. Her hobbies include binge reading fiction, attending concerts, playing board games with friends, and spending time with her family.</p>

<p><%= image_tag 'about/nikki.jpg' %> Nicole Gray is a programmer/analyst in the University of Nebraska-Lincoln Libraries. She has a Ph.D. in English from the University of Texas at Austin and a M.A. in Library and Information Science from the University of Arizona. She has contributed to a number of digital editorial and archival projects, including the <a href="http://whitmanarchive.org" target="_blank"><em>Walt Whitman Archive</em></a> and the <a href="https://genoaindianschool.org/" target="_blank"><em>Genoa Indian School Digital Reconciliation Project</em></a>. Her work for the <em>Charles W. Chesnutt Archive</em> has involved building the technical framework for the correspondence catalog.</p>

<p><%= image_tag 'about/cynthia.jpg' %> Cynthia Mbagwu, research assistant, is a master's student specializing in Literary and Cultural Studies at the University of Nebraska-Lincoln. She completed her B.A. in English and Literary Studies at the University of Nigeria, Nsukka. Cynthia's research interests include Speculative fiction and Afro-Diasporic literature. She also has a budding interest in Digital Humanities and works as a research assistant at the <em>Charles W. Chesnutt Archive</em>.</p>

<p><%= image_tag 'about/kevin.jpg' %> Kevin McMullen, project manager, is a Research Associate Professor in the Department of English at UNL. He is a long-time staff member of the <a href="http://whitmanarchive.org" target="_blank"><em>Walt Whitman Archive</em></a> and also currently serves as its project manager. Kevin is also the editor and co-creator of <a href="http://fannyfern.org" target="_blank"><em>Fanny Fern in The New York Ledger</em></a>, a digital edition of the newspaper columns of the 19th century writer Fanny Fern. He was a past president and currently serves on the board of the Digital Americanists society, and occasionally teaches courses on American literature and the editing and publishing industry.
</p>

<p><%= image_tag 'about/lauren.jpg' %> Lauren Millhorn, research assistant, is a master's student focusing on Literary and Cultural Studies at the University of Nebraska-Lincoln. She completed her B.A. in English at Westminster College (PA), where she was a Teacher's Assistant for a Native American Literature and Film course. Her paper From Receptors to Revisors: Readers in the Cruso(e) Narrative" appeared in the 2022 issue of Johns Hopkins University's <a href="https://mackseyjournal.scholasticahq.com/article/39770" target="_blank"><em>Macksey Journal</em></a>. Lauren's research interests include hip-hop literature, Indigenous Literature of North America, Black Literature, and Queer Theory. At the <em>Archive</em>, Lauren has transcribed and encoded reviews of Chesnutt's work and is currently helping to transcribe Chesnutt's correspondence. She is originally from Rogers, Ohio.</p>

<p><%= image_tag 'about/ken.jpg' %> Kenneth M. Price, co-editor, first began publishing on Chesnutt in 1995 with "Charles Chesnutt, the <em>Atlantic Monthly</em>, and the Intersection of African-American Fiction and Elite Culture." Since then his scholarly efforts have mainly focused on Whitman studies and on issues in digital humanities&#8212;he is a founding co-director of the Center for Digital Research in the Humanities at University of Nebraska-Lincoln. He is also a past president of both the Association for Documentary Editing and the Society for Textual Scholarship. Price became a co-editor of the <em>Chesnutt Archive</em> in 2017.
</p>

<p><%= image_tag 'about/bianca2.jpg' %> Bianca Swift, assistant editor, has a BA in English with minors in French and African American Studies and an MA in English, with an emphasis in creative writing, specifically poetry. Bianca has performed in Spoken Word Poetry Competitions in Philadelphia, PA, Houston, TX, and Richmond, VA. In addition to contributing to the <em>Charles W. Chesnutt Archive</em>, Bianca works for the Nebraska Writers Collective as a Teaching Artist, bringing poetry to middle schoolers and highschoolers across Lincoln. Bianca is a published author and when she is not working she is performing at venues around Lincoln and Omaha as a performance poet.
</p>

<p><%= image_tag 'about/greg.jpg' %> Greg Tunink is a developer in the Center for Digital Research in the Humanities (CDRH) and community manager for the Open Online Newspaper Initiative (Open ONI). He has helped create and support open source research tools such as Annotonia and sites including <a href="https://cather.unl.edu/" target="_blank">The Willa Cather Archive</a>, <a href="https://nebnewspapers.unl.edu/" target="_blank">Nebraska Newspapers</a>, <a href="http://lewisandclarkjournals.unl.edu" target="_blank"><em>The Journals of the Lewis and Clark Expedition</em></a>, <a href="https://nebraskaauthors.org/" target="_blank">Nebraska Authors</a>, and the <a href="https://salmonpueblo.org/" target="_blank">Salmon Pueblo Archeological Research Collection</a>. He has overseen numerous server migrations and streamlined server software deployment, configuration, and administration. Greg received his Bachelor's in Computer Science with minors in Mathematics and Business from the University of Nebraska-Lincoln (UNL) in 2009.
</p>

<p><%= image_tag 'about/aidan.jpg' %> Aidan Ward, research assistant, is a student at The New School, finishing her B.A. in Literature and Critical Analysis with a focus in nineteenth century Russian literature and a minor in Philosophy. She has presented papers at the ACLA, NESEEES, and the North American Dostoevsky Society's annual conferences. In addition to Russian literature, her interests include: drawing, particularly portraiture; tap dance, jazz music, and their intersecting histories; queer history and culture; labor relations and organizing in the university; and doting on her two cats.
</p>

<p><%= image_tag 'about/laura.jpg' %> Laura Weakly, metadata encoding specialist, offers expert insights on the TEI P5 encoding for the <em>Chesnutt Archive</em>, and is responsible for the project's metadata schemas. She also supervises student employees and interns in the CDRH working on the <em>Chesnutt Archive</em>. She has a B. A. in Journalism and History, and an M.A in Journalism &amp; Mass Communication. At the CDRH she is responsible for development of metadata schema and training of faculty and graduate students in text encoding. She has worked NEH-funded projects such as the <a href="http://lewisandclarkjournals.unl.edu" target="_blank"><em>Journals of the Lewis and Clark Expedition Online</em></a>, the <a href="http://omahaponca.unl.edu" target="_blank"><em>Omaha Ponca Digital Dictionary</em></a>, and <a href="http://earlywashingtondc.org" target="_blank"><em>O Say Can You See: Early Washington D.C. Family and Law</em></a>. 
</p>

<h4>Artwork</h4>

<p><%= image_tag 'about/kat.jpg' %> Kat Wiese
<br/><br/>
Kat Wiese is a multimedia artist exploring the intersections of race and identity. You can find more of her work at her website, <a href="https://www.katwiese.com/" rel="external">katwiese.com</a>.
</p>

<br/>
<h4>Past Project Participants</h4>
<ul>
    <li>Tara Ballard</li>
    <li>Matt Cohen</li>
    <li>Tony Frazier</li>
    <li>John M. Freiermuth</li>
    <li>Sarita B. Garcia</li>
    <li>Samantha Gilmore</li>
    <li>Christy Hyman</li>
    <li>Alyah Janes</li>
    <li>Caitlin Matheis</li>
    <li>Ashley Morrison </li>
    <li>Aiyana Moss</li>
    <li>Ashlyn Stewart</li>
    <li>Katherine Walter</li>
</ul>
<br/>
<h4>Editorial Board</h4>
<ul>
    <li>Stacie Brisker (Special Collections Librarian, Cleveland Public Library)</li>
    <li>Brandon R. Byrd (Associate Prof., History, Vanderbilt University)</li>
    <li>Tess Chakkalakal (Peter M. Small Associate Prof., Africana Studies and English, Bowdoin College) </li>
    <li>Lauren Coats (Associate Prof., English, Louisiana State University) </li>
    <li>Ernestine Pickens Glass (Prof. Emerita, English, Clark Atlanta University) </li>
    <li>Bryan Greene (Director of Fair Housing Policy, National Association of Realtors) </li>    
    <li>Zebulon Vance Miletsky (Associate Prof., Africana Studies, Stony Brook University) </li>
</ul>
