<div id="more-metadata" class="metadata">

  <ul>
    <li>
      <%# Citation field for digital item %>
      <strong>Cite (Chicago style):</strong> 
      <%= @res["author_cite_k"] %>, 
      "<%= @res["title"] %>," 
      <em>The Charles W. Chesnutt Archive</em>, 
      <%= t("general.editors") %>, 
      accessed <%= Time.now.strftime("%B %d, %Y") %>.
      <%= @res["uri"] %>.
    </li>

    <% if @res["uri_data"].present? %>
      <li><strong>Source File: </strong>
        <a href="<%= @res["uri_data"] %>"><%= File.basename(@res["uri_data"]) %></a>
      </li>
    <% end %>

    <li><%= metadata(@res, "Document ID", "identifier", link: false) %></li>
    
     <% if @res["type"].present? %>    
    <li>
      <strong>Nature of source text: </strong> 
      <%= @res["type"] %>
<ul>
  <li>TEST</li>
  <li>TEST</li>
      </ul>
      (ALS: autograph letter signed; ADS: autograph draft signed; ADU: autograph draft unsigned; TLS: typed letter signed; TDS: typed draft signed; TDU: typed draft unsigned; TCS: typed copy signed; TCU: typed copy unsigned; ATR: autograph telegram received; TTR: typed telegram received; EXT: external source. Nomenclature derived from <em>To Be an Author: Letters of Charles W. Chesnutt</em>, ed. Joseph R. McElrath, Jr. and Robert C. Leitz, III [Princeton University Press, 1997].)
      
    </li>
    <% end %>
      
    <% if @res["rights"].present? || @res["rights_uri"].present? %>    
    <li>
      <strong>Rights information: </strong> 
      <%= @res["rights"] %>
      <% if @res["rights_uri"].present? %>
        [<%= link_to "License", @res["rights_uri"] %>]
      <% end %>
    </li>
    <% end %>

    <% if @res["contributor"].present? %>
      <li>
        <%= metadata(@res, "Contributors to the digital file", 
          "contributor.name", link: false) %>
      </li>
    <% end %>

  </ul>

  <%= link_to "Back to the top", "#main-content", class: "btn btn-warning btn-xs btn-metadata" %>
</div>
