<div id="more-metadata" class="metadata">

  <ul>
    <li>
      <%# Citation field for digital item %>
      <strong>Cite (Chicago style):</strong> 
      <%= @res["author_cite_k"] %>, 
      "<%= @res["title"] %>," 
      <em>The Charles W. Chesnutt Archive</em>, 
      <%= t("general.editors") %>, 
      accessed <%= Time.now.strftime("%B %d, %Y") %>.
      <%= @res["uri"] %>.
    </li>

    <% if @res["uri_data"].present? %>
      <li><strong>Source File: </strong>
        <a href="<%= @res["uri_data"] %>"><%= File.basename(@res["uri_data"]) %></a>
      </li>
    <% end %>

    <li><%= metadata(@res, "Document ID", "identifier", link: false) %></li>
    
     <% if @res["type"].present? %>    
    <li>
      <strong>Nature of source text: </strong> 
      <%= @res["type"] %>
      <list>
        <li>TCU</li>
        <li>TCS</li>
      </list>
      <%= t "correspondence.editorial_note" %>
    </li>
    <% end %>
      
    <% if @res["rights"].present? || @res["rights_uri"].present? %>    
    <li>
      <strong>Rights information: </strong> 
      <%= @res["rights"] %>
      <% if @res["rights_uri"].present? %>
        [<%= link_to "License", @res["rights_uri"] %>]
      <% end %>
    </li>
    <% end %>

    <% if @res["contributor"].present? %>
      <li>
        <%= metadata(@res, "Contributors to the digital file", 
          "contributor.name", link: false) %>
      </li>
    <% end %>

  </ul>

  <%= link_to "Back to the top", "#main-content", class: "btn btn-warning btn-xs btn-metadata" %>
</div>
