<div id="more-metadata" class="metadata">
      <li>
        <%# metadata(@res, t("item.metadata.cite", default: "Cite this item"),
          "cite", link: false) %>
          <strong>Cite (Chicago style):</strong> Charles Chesnutt, "Aunt Mimy's Son", <em>The Charles W. Chesnutt Archive</em>, Gen. Ed. Stephanie Browner, Matt Cohen, and Kenneth M. Price, accessed {TODAY'S DATE}.
      </li>

    <!-- <%# if @res["title"].present? %>
      <li>
        <%# metadata(@res, t("item.metadata.title", default: "Title"),
          "title", link: false) %>
      </li>
    <%# end %> -->







    <%# When copying this template into projects, consider adding rel tag to the source link
    to note the format and if the link is external %>
    <% if @res["uri_data"].present? %>
    <li><strong>Source File: </strong>
      <a href="<%= @res["uri_data"] %>"><%= File.basename(@res["uri_data"]) %></a>
    </li>
    <% end %>

     <li><%= metadata(@res, "Document ID",
          "identifier", link: false) %></li>
        

        <!-- Editorial note <notesStmt><note></note></notesStmt> use description field -->
          <% if @res["description"].present? %>
      <li>
        <%= metadata(@res, t("item.metadata.title", default: "Title"),
          "title", link: false) %>
      </li>
    <% end %>

     <li><!-- Kevin will send an example -->   

Rights information (from availability statement in header)</li>

<% if @res["contributor"].present? %>
      <li>
        <%= metadata(@res, "Contributors to the digital file:",
                     "contributor.name", link: false) %>
      </li>
    <% end %>



  </ul>

  <%= link_to "Back to the top", "#main-content", class: "btn btn-default" %>
</div>
