<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Correspondence</h1>

<p>Here users can find a growing collection of Chesnutt's correspondence, including transcriptions of incoming as well as outgoing letters, including drafts, along with (whenever possible) images of the original documents. Our work on Chesnutt's letters aims to illuminate the expansive social and literary network of this prominent African American writer, lawyer, and voting rights activist.</p>

<p>We also make available the first-ever catalog of all Chesnutt's known correspondence, incoming and outgoing.</p>
<br/>

<h4><%= link_to "Full Correspondence Catalog", correspondence_catalog_path %></h4>

  <br/>

<%= render_overridable "items", "search_preset_header" %>

<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%= render_overridable "items", "sort_and_page_ui" %>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <%= render_overridable "items", "sort_and_page_ui" %>
</div>
