<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Correspondence</h1>

<p>Here users can find a growing collection of Chesnutt's correspondence, including transcriptions of incoming as well as outgoing letters, including drafts, along with (whenever possible) images of the original documents. Our work on Chesnutt's letters aims to illuminate the expansive social and literary network of this prominent African American writer, lawyer, and voting rights activist.</p>

<p>We also make available the first-ever catalog of all Chesnutt's known correspondence, incoming and outgoing.</p>

<!--<p>Thanks to a one-year grant from the National Historical Publications and Records Commission the team of researchers at <em>The Charles W. Chesnutt Archive</em> has commenced work on <em>The Correspondence of Charles W. Chesnutt</em>. The correspondence project aims to illuminate the expansive social and literary network of this prominent African American writer, lawyer, and voting rights activist. Our goal is to include transcriptions of incoming as well as outgoing letters, and Chesnutt’s drafts, along with images of the original documents. We have already compiled a document list that identifies nearly 1,900 letters and their repository locations. The final corpus is expected to be well over 2,000 letters. Like the <em>Charles W. Chesnutt Archive</em>, the <em>Correspondence</em> will be freely available to scholars and the public. By late 2022 or early 2023, we expect to publish transcriptions, annotations, and (whenever possible) images of 250 letters.</p>-->

<h4><%= link_to "Full Correspondence Catalog", correspondence_catalog_path %></h4>

  <!--<p>This catalog lists all of Chesnutt's known letters at various repositories.</p>

<div>
  <%= link_to "Catalog", correspondence_catalog_path %>
</div>-->
  <br/>

<%= render_overridable "items", "search_preset_header" %>

<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%= render_overridable "items", "sort_and_page_ui" %>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <%= render_overridable "items", "sort_and_page_ui" %>
</div>
