<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Correspondence</h1>

<p>Here we present our growing digital edition of the correspondence of Charles W. Chesnutt.. Chesnutt’s letters illuminate the expansive social and literary network of this prominent African American writer, lawyer, and voting rights activist, and shed light on his times. The letters, dating from 1883 to 1932, range widely, relating to personal, political, business, civic, and literary matters. Our edition includes transcriptions of incoming as well as outgoing letters, and Chesnutt’s drafts, along with images of the original documents whenever possible. Our editorial policies can be found <a href="../about/editorial_policy">here</a>.</p>

<p>The edition includes a catalog of all of Chesnutt’s known correspondence, incoming and outgoing.</p>
<br/>

<h4><%= link_to "Full Correspondence Catalog", correspondence_catalog_path %></h4>

  <br/>

<%= render_overridable "items", "search_preset_header" %>

<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%= render_overridable "items", "sort_and_page_ui" %>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <%= render_overridable "items", "sort_and_page_ui" %>
</div>
