<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Correspondence</h1>

<p>Displaying "category|Correspondence"</p>

<p>Thanks to a one-year grant from the National Historical Publications and Records Commission the team of researchers at <em>The Charles W. Chesnutt Archive</em> has commenced work on <em>The Complete Correspondence of Charles W. Chesnutt</em>. The correspondence project aims to illuminate the expansive social and literary network of this prominent African American writer, lawyer, and voting rights activist. Our goal is to include transcriptions of incoming as well as outgoing letters, and Chesnutt’s drafts, along with images of the original documents. We have already compiled a documents list that identifies over 1,000 letters and their repository location. The final corpus is expected to be approximately 1,250 letters. Like the <em>Charles W. Chesnutt Archive</em>, the <em>Complete Correspondence</em> will be freely available to scholars and the public. By the end of the first year of the project, May 31, 2022, we intend to publish transcriptions, annotations, and (whenever possible) images of 200 letters.</p>

<%= render_overridable "items", "search_preset_header" %>

<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%= render_overridable "items", "sort_and_page_ui" %>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <%= render_overridable "items", "sort_and_page_ui" %>
</div>