<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Manuscripts</h1>

<div class="flex page_banner_vertical">
  <div class="flex_inner display_illustration">
    <div class="page_illustration_outer"></div>
  </div>
  <div class="flex_inner display_content">
    <%# <p>Displaying "category|Manuscripts"</p> %>

    <p>This section offers editions of Chesnutt’s manuscripts, including galley proofs of book-length works featuring his emendations. We will supplement this collection further as time and resources allow. For manuscripts, we try whenever possible to provide both a transcription and digital images of the individual pages. </p>

    <%= render_overridable "items", "search_preset_header" %>

    <div class="search_form search_preset search_preset_<%= @preset_class %>">

      <%# do not display any facet options or summary boxes for this view %>

      <%= render_overridable "items", "search_preset_text" %>
      <%# render_overridable "items", "sort_and_page_ui" %>

      <!-- search results section -->
      <%= render_overridable "items", "search_res_count" %>
      <%= render_overridable "items", "search_preset_res_items" %>

      <%# render_overridable "items", "sort_and_page_ui" %>
    </div>


  </div>
  
</div>




