<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Reviews</h1>
<div class="flex page_banner_vertical">
  <div class="flex_inner display_illustration">
    <div class="page_illustration_outer"></div>
  </div>
  <div class="flex_inner display_content">
    <%# <p>Displaying "category|Manuscripts"</p> %>

    <p>This section offers the most complete collection of contemporary reviews of Chesnutt to be found anywhere. We will supplement this collection further as more reviews are located, and we are grateful when users <a href="mailto: kprice2@unl.edu;browners@newschool.edu;matt.cohen@unl.edu">alert us</a> to missing items.</p>

    <p>During his lifetime, Chesnutt's works earned publication notices and reviews in a wide variety of newspapers and magazines. Our collection includes reviews published in city newspapers, regional magazines, and national outlets. The collection includes materials from the Black press as well as the White press.</p>

    <p>In the late 1990s John M. Freiermuth, then a graduate student in the Department of English, University of North Carolina, Greensboro, collected a large batch of reviews and offered them to project co-editor Stephanie Browner for use on the initial version of the <em>Chesnutt Archive</em>. Since then many more reviews have been located thanks to the increasing availability of historic periodicals through online databases. Samantha Gilmore of the University of Nebraska-Lincoln has led the effort to discover and document more reviews, an effort that has vastly increased our ability to study Chesnutt’s early reception.</p> 

    <p>You can find <%= link_to "reviews for specific Chesnutt works here", browse_facet_path(facet: "works") %>, or browse them chronologically below.
</p>
  </div>
</div>

<%= render_overridable "items", "search_preset_header" %>

<div class="search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%# sort broken due to change in default sort, see orchid issue #226
  <%# render_overridable "items", "sort_and_page_ui" %>
  <div class="row search_controls">
    <div class="col-md-4 search_limit">
    </div>
    <div class="col-md-8 pagination_container">
      <%= paginator @res.pages %>
    </div>
  </div>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <div class="row search_controls">
    <div class="col-md-4 search_limit">
    </div>
    <div class="col-md-8 pagination_container">
      <%= paginator @res.pages %>
    </div>
  </div>
</div>
