<%# overridden from orchid to add assets, key, bottom metadata %>

<% @ext_css = [ "fancybox.min" ] %>
<% @ext_js = [ "fancybox.min", "item_gallery_lightbox" ] %>
<% @ext_css = [ "datatables.min" ] %>
<% @ext_js = [ "datatables.min", "corresp_catalog_datatables" ] %>

<h1><%= @res["title"] %></h1>
<% if @res["subcategory"] == "Correspondence/Catalog" %>
  <p>This is a first go at a correspondence catalog.</p>
<% end %>
<% unless @res["subcategory"] == "Correspondence/Catalog" %>
  <%= render_overridable("show_metadata") %>
<% end %>
<% if @res["subcategory"] == "Manuscripts/Galley Proofs" %>
  <%= render_overridable("show_key") %>
<% end %>
<%= render_overridable("show_content") %>
<% unless @res["subcategory"] == "Correspondence/Catalog" %>
  <%= render_overridable("show_bottom_metadata") %>
<% end %>
