<%# overridden from orchid to add assets, key, bottom metadata %>

<%# creating page classes based on category/sub category
    note that if there is no category2 the category will repeat in the category2 %>
<% page_class_list = [
  @res["category"].present? ? "category_" + format_name(@res["category"]) : "",
  @res["category2"].present? ? "category2_" + format_name(@res["category2"]) : ""
] %>
<% @page_classes = page_class_list.reject(&:empty?).join(' ') %>

<% @ext_css = [ "fancybox.min" ] %>
<% @ext_js = [ "fancybox.min", "item_gallery_lightbox" ] %>

<h1><%= @res["title"] %></h1>
<% unless @res["identifier"] == "ccda.oth00001" %>
  <%= render_overridable("show_metadata") %>
<% end %>
<%# show keys %>
<% if @res["category2"] == "Manuscripts/Galley Proofs" %>
  <%= render_overridable("show_manuscripts_key") %>
<% end %>
<% if @res["category"] == "Correspondence" %>
  <%= render_overridable("show_correspondence_key") %>
<% end %>

<%# If there is content in previous or next, call template to show previous and next links %>
<% if @res["previous_item_id_k"] || @res["next_item_id_k"] %>
  <%= render_overridable("prev_next_item_nav") %>
<% end %>

<%= render_overridable("show_content") %>

<% unless @res["identifier"] == "ccda.oth00001" %>
  <%= render_overridable("show_bottom_metadata") %>
<% end %>
