<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<% if @header == true %>
  </div><%# close container div for full width  %>

  <div class="page_banner_outer">
    <div class="container">
    <div class="page_banner_text">
      
        <h1 style="">Works</h1>
        <p>Here users can find the writings of Chesnutt across multiple genres: all works of fiction he published in his lifetime, including five books and dozens of short stories; a sampling of more than a dozen of his essays and speeches; a handful of Chesnutt-authored reviews; and two poems. For these works, we try whenever possible to provide both a transcription and digital images of the individual printed pages. </p>
        </div>
    </div>
    <div class="page_banner_illustration">
      <div class="page_banner_illustration_inner">
        
      </div>
    </div>

  </div>

  <div class="container"><%# reopen container div %>
<% end %><%# end if @header == true  %>

<%= render_overridable "items", "search_preset_header" %>

<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%= render_overridable "items", "sort_and_page_ui" %>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <%= render_overridable "items", "sort_and_page_ui" %>
</div>