<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Works</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacus nibh, scelerisque vel egestas vel, commodo et odio. Cras congue sed lacus sagittis rutrum. Curabitur tempor pharetra leo. Proin blandit augue porta dolor tincidunt, scelerisque efficitur diam hendrerit. Pellentesque at elementum sapien. In tincidunt lectus ante, nec luctus lectus ultricies eu. </p>

<p>These do not work yet, talk to PI's</p>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Stories 66</button>
  <button type="button" class="btn btn-default">Essays 26</button>
  <button type="button" class="btn btn-default">Novel 3</button>
  <button type="button" class="btn btn-default">Poems 3</button>
  <button type="button" class="btn btn-default">Collection 2</button>
  <button type="button" class="btn btn-default">Other Works 1</button>
</div>

<%= render_overridable "items", "search_preset_header" %>

<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

  <%= render_overridable "items", "search_preset_text" %>
  <%= render_overridable "items", "sort_and_page_ui" %>

  <!-- search results section -->
  <%= render_overridable "items", "search_res_count" %>
  <%= render_overridable "items", "search_preset_res_items" %>

  <%= render_overridable "items", "sort_and_page_ui" %>
</div>